/*homeppage css */


/*slider section */
#slider{
	background: url("../img/about.jpg") no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center center;
    height: 500px;
}
#slider a{
	margin-top:30px;
}
.slider-overlay{
	display: block;
	text-align: center;
	padding-top: 120px;
	background-color: rgba(0,0,0,.3);
	height: 500px;
}
/*services css */
.text-underline{
    width: 150px;
    border: 1px solid #00A0de;
    margin: 0 auto;
}
#Services{
	margin: 80px 0px;
}
#Services p,h1,i{
	text-align: center;
}
#Services p{
	margin: 10px 0px;
	font-size: 14px;
}
#Services h3{
	margin: 10px 0px;
	font-size: 22px;
}
#Services i{
	color: #00A0de;
}
#Services .my-btn{
	margin: 15px 0px;
}
.brand-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #00A0de;
    padding: 7px 16px;
    color: #000;
    position: relative;
    z-index: 1;   
}
.brand-btn:hover{
    color: #fff;
}
.brand-btn:after{
    content: "";
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #00A0de;
    z-index: -1;  
}
.brand-btn, .brand-btn:after{
    transition: .30s;
}
.brand-btn:hover:after{
    width: 100%;
}

/* about section */

#about .photo{
    height: 60vh;
    background: url("../img/about.jpg") no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    border-bottom:60vh solid transparent;
    border-left: 70px solid #343A40 ;
}
#about.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about h1{
	margin: 40px 0px;
	color: white;
}
#about p{
	margin: 10px 0px;
	line-height: 25px;
	color: white;
}
.bg-dark{
	background-color: #343A40;
}
/*driver css*/
.road{
    height: 340px;
    background-color: grey;
    box-sizing: border-box;
    width: 100%;
}
.lines{
	height:100px;
	border-bottom: 2px dashed #fff; 
	padding-top: 280px;
}
.driver{
    position: absolute;  
    left: 0px;
    animation-name: drive;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-fill-mode: both;
}
@keyframes drive{
    from{transform:translate(0)}
    to{ transform: translate(1350px)}
}
/*contact us */
#contact{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("../img/about.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px;
    align-items: baseline;
}
/*counter */
.count{
	display: inline-block;
}
#timer i{
	color: #00A0de;
}
#timer {
	padding: 50px;
}
#timer h2,p{
	color: #000;
}
#timer h2{
	margin-top: 12%;
}
.contact-text h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.contact-btn a{
    font-size: 25px;
    text-transform: uppercase;
    color: #e0e2db;
    border: 1px solid #e0e2db;
    padding: 10px 15px;
    background: transparent; 
}
/* spilt css */

.layer-bottom {
	background-color: gray;
	width: 100%;
	height: 300px;
	text-align: center;	
    transition: 0.8s;
}
.layer-bottom p{
  padding-top: 10%;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
/* ANIMATE css */
.order-text ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0;
    padding: 0;
    background: #00A0de;
    box-shadow: 0 0 0 10px #fff;
}
.order-text li{
    display: block;
    list-style: none;
    color: #fff;
    padding: 0 10px;
    font-size: 4em;
    text-transform: uppercase;
    animation: text-animate 3s linear infinite;
}
@keyframes text-animate {
    0%{
        transform: translate(-100px) rotateY(0deg);
    }
    20% {
        transform: translateY(0px) rotateY(360deg);
    }
  
    40%{
         transform: translateY(-10px) rotateY(360deg);
    }
    
    50% {
        transform: translateY(0px)rotateY(360deg);
    }
    
    50% {
        transform: translateY(0px) rotateY(360deg);
    }

   60% {
        transform: translateY(-10px) rotateY(360deg);
    }

  70% {
        transform: translateX(0px) rotateY(360deg);
    }
  80% {
        transform: translateX(0px) rotateY(360deg);
    }
  100% {
        transform: translateX(100px) rotateY(720deg);
    }
}
li:nth-child(1){
    animation-delay: .1s;
}
li:nth-child(2){
    animation-delay: .2s;
}
li:nth-child(3){
    animation-delay: .3s;
}
li:nth-child(4){
    animation-delay: .4s;
}
li:nth-child(5){
    animation-delay: .5s;
}
li:nth-child(6){
    animation-delay: .6s;
}
li:nth-child(7){
    animation-delay: .7s;
}
li:nth-child(8){
    animation-delay: .8s;
}
li:nth-child(9){
    animation-delay: .9s;
}
li:nth-child(10){
    animation-delay: .10s;
}
.layer-top{
	background-color: #00A0de;
	width: 100%;
	height: 300px;
	position: relative;
	left: -110%;
    transition: 0.8s;	
}
.layer-top p{
      font-size: 34px;
      font-weight: bold;
      padding-top: 18%; 
}

.layer-bottom:hover .layer-top{
     position: absolute;
     left: 0;
     margin: 0;
     width: 45%;
     transition: 1s ease-in-out;
     transform: skew(-16deg);
     top: 0%;
}
.layer-bottom:hover .order-text {
	position: absolute;
	right: 30%;
	top: 50%;
}