/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /*====order-page-area=====*/

    .order-destination .form-group input{
        width: 120px;
    }
    .order-destination .form-group label{
        margin: 0 0px 0 10px;
    }
    .order-destination button{
        margin-left: 5px;
    }
    .order-button a{
        padding: 5px 3px;
        margin: 0 1px;
    }
    /*====end-order-page-area=====*/

    /*=====>signle-order-page-area<=====*/

    .print .large-btn{
        padding: 6px 10px;
    }
    .print a{
        margin: 5px 0;
    }

    /*=====>end-signle-order-page-area<=====*/



}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*====main-header-area=====*/
    .mobile-menu-area .container {
        background: #5D5F60;
    }

    .call-area a {
        padding: 0 5px 0 0;
        font-size: 12px;
    }
    .location-area a {
        line-height: 20px;
        font-size: 12px;
        color: #636b6f;
    }

    /*====end-main-header-area=====*/


    /*====main-form-area=====*/

    .form-body{
        padding:20px 40px;
    }
    .custom-log{
        height: 60px;
        line-height: 60px;
    }
    .check-area{
        padding: 10px 0;
    }

    /*====end-main-form-area=====*/


    /*====our-form-area=====*/
    .our-form{
        margin-top: 20px;

    }
    .our-form .our-form-body .my-button{
        padding: 30px 0 10px 0px;
    }
    /*====end-our-form-area=====*/

    /*====main-table-area=====*/

    .main-table-area table th {
        font-size: 13px;
    }

    .main-table-area table td {
        font-size: 12px;
        font-weight: 300;
    }

    /*====end-main-table-area=====*/

    /*====user-profile-page=====*/
    .over-icon-area ul li{
        padding: 0 0px 0 0;
    }
    .over-icon-area{
        margin: 15px 0 0px 0px;
    }
    /*====user-profile-page=====*/


    /*====order-page-area=====*/


    .order-destination .form-inline .form-group {
        display: block;
        margin-bottom: 10px;
    }
    .order-destination .form-inline .form-group input{
        width: 100%;

    }
    .order-destination .form-group label{
        margin: 0 20px 0 0px;
    }
    .order-destination button{
        margin-top: 0px;
        margin: 0;

    }
    .order-button a{
        padding: 5px 5px;
        margin: 0 2px;
    }
    /*====end-order-page-area=====*/

    /*=====>signle-order-page-area<=====*/

    .print .large-btn{
        padding: 6px 10px;
    }
    .print a{
        margin: 5px 0;
    }

    /*=====>end-signle-order-page-area<=====*/







}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

    /*====main-header-area=====*/
    .mobile-menu-area .container {
        background: #5D5F60;
        padding: 0;
        margin: 0;
    }

    .header-top-area {
        background: #fff none repeat scroll 0 0;
        height: 120px;
    }
    .location-area{
        text-align: center;
    }
    .our-sign-up-area{
        margin-right: 50px;
        z-index: 9999999;
        position: relative;
    }
    .logo{
        text-align: center;
    }
    /*====main-header-area=====*/


    .dash-nav{
        background: #ddd;
        height: 300px;
        z-index: 9999999;
    }

    /*====main-form-area=====*/
    .check-box span{
        float: right;
        font-size: 12px;
        margin-top: 5px;
    }

    /*====end-main-form-area=====*/

    /*====our-form-area=====*/

    .our-form{
        margin: 10px 0;

    }
    .our-form .form-group label{
        font-size: 12px;
        font-weight: 300;
    }
    .our-form .form-control::-webkit-input-placeholder{
        font-size: 12px;
    }
    .our-form .form-control::-moz-placeholder{
        font-size: 12px;
    }
    .our-form .form-control::-moz-placeholder{
        font-size: 12px;
    }
    .our-form .form-control::-ms-placeholder{
        font-size: 12px;
    }
    .our-form .our-form-body .my-button{
        padding: 20px 0 10px 0px;
    }
    .our-form .our-form-body .my-button button{
        width: 60px;
        height: 40px;
        margin: 0 5px;
    }
    /*====end-our-form-area=====*/


    /*====main-table-area=====*/

    .main-table-area table th {
        font-size: 9px;
    }

    .main-table-area table td {
        font-size: 8px;
        font-weight: 300;
    }

    /*====end-main-table-area=====*/



    /*====main-footer-area=====*/
    .footer-widget{
        margin: 30px 0;
    }
    .footer-area{
        text-align: center;
    }

    .footer-widget span{
        text-align: center;
    }


    /*====main-footer-area=====*/



    /*====report-to-admin-area=====*/

    .report-search-area .form-group input{
        width: 65%;
        float: left;
    }
    .report-search-area .form-group button{
        width: 25%;
        float: left;
        height: 60px;
        border: 1px solid #fff;
    }
    .report-login{
        padding: 0 30px 20px 30px;
        float: left;
    }
    .report-login ul li{
        padding: 10px 12px;

    }

    /*====end-report-to-admin-area=====*/

    /*====user-profile-page=====*/
    .overview-img{
        margin-top: 20px;
    }
    .over-icon-area ul li{
        padding: 0 0px 0 0;
    }
    .over-icon-area{
        margin: 15px 0 20px 0px;
    }


    /*====user-profile-page=====*/



    /*====order-page-area=====*/


    .order-destination .form-inline .form-group {
        display: block;
        margin-bottom: 10px;
    }
    .order-destination .form-inline .form-group input{
        width: 100%;
    }
    .order-destination .form-group label{
        margin: 0 20px 0 0px;
    }
    .order-destination button{
        margin-top: 0px;
        margin: 0;

    }
    .order-button{
        margin: 15px 0;
    }
    .order-button a{
        padding: 5px 2px;
        margin: 0 2px;
    }
    /*====end-order-page-area=====*/


    /*=====>signle-order-page-area<=====*/

    .print{
        text-align: center;
    }

    .print .large-btn{
        padding: 6px 10px;
    }
    .print a{
        margin: 5px 0;
    }
    .order-client-details{
        margin: 15px 0;
    }

    /*=====>end-signle-order-page-area<=====*/










}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {




    /*====our-form-area=====*/

    .our-form{
        margin: 10px 0;

    }
    .our-form .form-group label{
        font-size: 12px;
        font-weight: 300;
    }
    .our-form .form-control::-webkit-input-placeholder{
        font-size: 12px;
    }
    .our-form .form-control::-moz-placeholder{
        font-size: 12px;
    }
    .our-form .form-control::-moz-placeholder{
        font-size: 12px;
    }
    .our-form .form-control::-ms-placeholder{
        font-size: 12px;
    }
    .our-form .our-form-body .my-button{
        padding: 20px 0 10px 0px;
    }
    .our-form .our-form-body .my-button button{
        width: 60px;
        height: 40px;
        margin: 0 5px;
    }
    /*====end-our-form-area=====*/



}