
/* review page css */

.review{
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
 .review p{
  font-size: 14px;
}
.review img{
  width: 120px;
}
.review h3{
  font-weight: bold;
  font-size: 22px;
  margin-top: 0px;
}

.review a{
  margin-top: 10px;
}
.comment{
  text-align: center;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* merchant order css */

hr{
  border:1px solid #ddd;
}

/* order-lists css */

.order-lists{
    background-color: #F7F7F7;
    margin: 10px 0px;
    
}
.border{
    border: 1px solid #ddd;
}
.order-details{
    text-align: left;
    padding-left: 10%;
}
.order-details p i{
    color: yellow;
    padding-right: 15px;
}
.order{
   
     display: flex;
}
.order img{
    padding-top: 18px;
    
}
.order-lists h3 {
  color: #00A0de;
}
.right-review{
   
    padding-top: 60px;
}
.theme-btn {
    border: 2px solid #00A0de;
    background-color: transparent;
    color: black;
}
.theme-btn:hover
 {
    background-color: #00A0de;
    color: #fff;
    border: 2px solid #00A0de;
    transition: 0.6s ease-in-out;
}
.bg-white {
    background-color: #fff;
    height: 165px;
    
}
.right-review a{
    margin-left: 10px;
}

/* single order css */

.single-order{
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
    height: 350px;
    margin-top: 30px;
}
table thead{
    background-color: #fff;
    color: #00A0de;
}
.display{
    display: flex;
    left: 22px;
}
.display p{
    padding-right: 5px;
    padding-left: 3px;
}

.left{
    float: left;
}
.left p i{
    padding-right: 10px;
    width: 60px;
    color: yellow;
}
.order-no{
    font-weight: bold;
    font-size: 24px;
}

.print{
    float: right;
    padding-bottom: 30px;
}
.client-details {
 
}