
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: inherit;
}
.review-page {
    margin: 0 auto;
    text-align: center;
}
.review-page p{
    text-align: center;
    margin-top: 10px;
}
.review-name{
    font-size: 18px;
}
.review-page img{
    width: 200px;
    height: 200px;
}
.search-form {
	margin-bottom: 10px;
}
.musco-btn{
    display: inline-block;
    font-weight: 300;
    border: 2px solid #00A0de;
    padding: 7px 16px;
    color: #000;
    position: relative;
    z-index: 1;
}

.musco-btn:hover{
    color: #fff;
}
.musco-btn:after{
    content: "";
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: red;
    z-index: -1;
}
.musco-btn, .musco-btn:after{
    transition: .30s;
}
.musco-btn:hover:after{
    width: 100%;
}
.btn {
	border-radius: inherit;
}
.form-control {
	border-radius: inherit;
}
.all-body {
	overflow:hidden;
}

.main-table-area {
	overflow-x : auto;
}
/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
a{
    color: #636b6f;
}
img {
    max-width: 100%;
    height: auto;
}
ul{
    padding: 0;
    margin: 0;
}
ul>li{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}
html,
body { height: 100% }
body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #636b6f;
}
a:hover { text-decoration: none }

.text-size{
    text-transform: uppercase;
    color: #fbfbfb;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}





/*====header-area=====*/

.all-body{
    overflow: hidden;
}

.mean-container .mean-bar::after {
    color: #ffffff;
    content: "MENU";
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 18px;
    font-weight: 500;
    cursor: pointer;
}
.mean-container a.meanmenu-reveal{
    font-size: 16px;
}

.header-top-area {
    background: #fff none repeat scroll 0 0;
    height: 50px;
}
.call-area{}
.call-area a {
    padding: 0 10px 0 0;
    font-size: 14px;
}
.call-area a i {
    font-size: 15px;
    color: #000;
    margin-top: 17px;
    padding: 0 5px 0px 0px;
}


.location-area{
    text-align: center;
}
.location-area a {
    line-height: 50px;
    font-size: 14px;
    color: #636b6f;
}
.location-area i{
    color: #000;
}


.sign-up-area{
    margin-right:5px;
}

.sign-up-area{
    float: right;


}
.sign-up-area ul{
    padding: 0;
    margin: 0;
}
.sign-up-area ul li{
    position: relative;
}
.sign-up-area ul li a {
    color: #636b6f;
    text-transform: capitalize;
    line-height: 50px;
    display: block;
    transition: all .3s;
    font-weight: 300;
}
.sign-up-area li a:hover{
    color: #257CC1;
}

.sign-up-area li ul {
    background: #E6E6E6 none repeat scroll 0 0;
    display: block;
    left: -75px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 180px;
    top: 100px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.sign-up-area li:hover ul{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 999;
    top: 50px;
}
.sign-up-area ul li ul li{
    transition: all .3s;
}
.sign-up-area ul li ul li:hover{
    background: #257CC1;
}
.sign-up-area ul li ul li a {
    display: block;
    line-height: 35px;
    text-align: center;
    color: #000;
}
.sign-up-area ul li ul li a:hover{
    color: #fff;
}


/*model*/

.login-area button{
    float: right;
    margin: 5px 0 0 0px;
    font-weight:300;    
}


.login-area .btn-primary {
    color: #636b6f;
    background-color:transparent;
    border-color: transparent;
    outline-style: none;
    font-size: 14px;
    text-transform: capitalize;
    
}

.login-area .btn-primary:hover {
     color: #257CC1;
    background-color:transparent;
    border-color: transparent;
}

.login-area .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline-style: none;
}

.header-modal .modal-body input{
    padding: 0 10px;
    
}
.f-form{
    width: 100%;
    height: 50px;
    margin: 5px 0 20px 0;
}


/*model-end*/

.notificatin-area{
    float: right;
}
.notificatin-area .dropdown-menu {
   float: left;
   margin-left: -120px;
   width: 150px;
    margin-top: 7px;
}

.notificatin-area .dropdown-menu>li>a {
    display: block;
    padding: 3px 10px;
}
.notificatin-area i{
    color: #000;
    font-size: 20px;
    margin-top: 8px;
}
.notificatin-area i:hover{
    color: #257CC1;
}
.notificatin-area button{
    background-color: transparent;
    border: none;
}


.our-sign-up-area .notificatin-area .btn-default:hover {
     color: #333;
     background-color: transparent;
     border-color: transparent; 
    border: none;
}

.our-sign-up-area .notificatin-area .btn-default:active {
     color: #333;
     background-color: transparent;
     border-color: transparent; 
}

.our-sign-up-area .notificatin-area .btn-default:focus {
     color: #333;
     background-color: transparent;
     border-color: transparent; 
}
.notificatin-area span{
    color: #fff;
}
.our-sign-up-area .notificatin-area  .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: transparent; 
    border-color: transparent;
    box-shadow: none;
}

.notificatin-area  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
     background-color: #257CC1; 
}

/*=====v-profile======*/
.v-profile{
    position: relative;
    float: right;
    padding: 0 0 0 5px;
}
.v-profile button {
    width: 35px;
    height: 42px;
    border-radius: 100%;
    padding: 0 5px 0px 9px;
    margin: 4px 0;
     background: #fff; 
    border: 1px solid #333;
}
.v-profile .btn-default:hover {
     color: #333;
     background-color: #fff;
     border-color: #333; 
}
.v-profile .btn-default:active {
     color: #333;
     background-color: #fff;
     border-color: #333; 
}
.v-profile .btn-default:focus{
    color: #333;
    background-color: #fff;
    border-color: #333;
}
.v-profile .btn-default.active.focus {
    color: #333;
     background-color: #fff; 
     border-color: #333;
}
.v-profile .open>.dropdown-toggle.btn-default:focus{
    border: 1px solid #333;
}
.v-profile img{
    width: 60px;
    height: 30px;
    border-radius: 50%;
    margin-left: -4px;
}


.v-profile .dropdown-menu {
   float: left;
    margin-left: -120px;
    width: 150px;
    margin-top: -1px;
}

.v-profile .dropdown-menu>li>a {
    display: block;
    padding: 3px 7px;
}
.v-profile .btn .caret {
    margin-left: -4px;
    margin-top: 0px;
}

/*=====v-profile======*/



/*====end-header-area=====*/


/*====menu-area=====*/


.logo a{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 10px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}

.menu-area{
    background: #00A0DE;
    transition: all 0.3s ease 0s;
}
.logo {
  padding-top: 6px;
     transition: all 0.3s ease 0s;
}
.logo a{}
.logo span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
    color: #fff;
}
.main-menu{
    position: relative;
     transition: all 0.3s ease 0s;
}
.main-menu ul{ 
    text-align: right;
    position: relative;
     padding: 0;
    margin: 0;
}
.main-menu ul li{
    display: inline-block;
    position: relative; 
   
}

.main-menu ul li a {
  color: #908f95;
  display: block;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  padding: 29px 0 29px 26px;
}
.main-menu li ul{
    position: relative;
    padding: 0;
   
}
.main-menu li ul{
    position: absolute;
    left: 0;
    top: 100px;
    background: #00A0DE;
    width: 170px;
    display: block;
    text-align: center;
    z-index: 999;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s;
    
}
.main-menu li ul li{
    display: block;
    
}

.main-menu li ul li a {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 600;
  transition: all .3s;
}

.main-menu li:hover ul{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 999;
    top: 79px;
}
.main-menu li ul li:hover{
    background: #257CC1;
    color: #000;
}
/*====end-menu-area=====*/


/*====dash-area=====*/

.dashboard-area{
    background: #343A40;
    height: 40px;
}
.dashboard-area p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    margin-left: 14px;
}

.dash-padding .col-md-3{
    padding: 0px;
}
.dash-nav{
    background: #ddd;
    height: 530px;
}


.dash-nav .panel {
     border: none; 
    border-radius: 0px;
     box-shadow: none;
    background: #ddd;    
}
.dash-nav .panel a{
    background: #ddd;
}

.dash-nav .panel {
    border: none;
}



.dash-nav .list-group {
     padding-left: 0; 
    margin-bottom: 0px;
}


 .dash-nav .list-group-item {
   position: relative; 
   display: block; 
   padding: 10px 15px;
   margin-bottom: 0px;
   background-color:#ddd; 
   border: none;
   border-radius: 0px;
   color: #fff;
   transition: all .3s;
}
.dash-nav .list-group-item:hover{
    color: #fff;
    background: #00A0DE;
}

.slide-bar ul{
    padding: 0;
    margin: 0px;
}
.slide-bar ul li a{
    display: block;
    background: #ddd;
    padding: 8px 50px;
    font-size: 14px;
    text-transform: capitalize;
}
.slide-bar ul li a:hover{
    color: #fff;
    background: #00A0DE;
}

.dash-nav .panel a{
    display: block;
    position: relative;
    font-size: 14px;
    padding: 8px 30px;
    color: #636b6f;
}



.dashboard-level{
    background: #E9ECEF;
}

.linkup{
    margin-top: 10px;
    margin-left: 20px;
}
.linkup ul{}
.linkup ul li{
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-right: 10px;
}

.linkup ul li a{
    display: block;
    text-transform: capitalize;
    color: #636b6f;
    font-weight: 400;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 10px 0;
    font-size: 14px;
}




.linkup ul li a:hover{
    color:#00A0DE;
}
.linkup ul li a.active{
    color:#00A0DE;
}

.linkup ul li:before{
    position: absolute;
    content: "/";
    left: 0;
    top: 10px;
    color: #636b6f;
}
.linkup ul li:first-child{
   padding-left: 0;
}

.linkup ul li:first-child:before{
    display: none;
}

/*====end-dash-area=====*/




/*====footer-area====*/

.footer-area{
    background: #ddd;   
    display: block;
    padding: 20px 0px;
    color: #636b6f;
}

.footer-area{
    padding: 50px 0;
}

.footer-logo img{
    padding-bottom: 20px;
}

.footer-logo a i{
    border:1px solid #636b6f; 
    padding: 8px;
    transition: all .3s;
    margin: 0 5px 0 0;
}
.footer-logo a i:hover{
    border:1px solid #00A0DE; 
    background: #00A0DE;
    color: #fff;
}
.footer-widget span{
    position: relative;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
.footer-widget ul li{
    padding: 10px 0px;    
}
.footer-widget ul li a{
    transition: all .3s;
    margin-left: 5px;
}
.footer-widget ul li a:hover{
    margin-left: 15px;
    color: #00A0DE;
}


.footer-widget ul li span{
    display: inline-block;
    border: 1px solid #636b6f;
    padding: 2px 3px;
    transition: all .3s;
    border-radius: 5px;
    margin-bottom: 0;
    font-size: 12px;
}
.footer-widget li:hover span{ 
    color:#fff;
    border: 1px solid #00A0DE;
    background: #00A0DE;
    
}
.footer-widget .form-group input{
    margin-bottom: 10px;
    height: 40px;
    border:1px solid #636b6f;
}
.footer-widget .form-control{
  border-radius: inherit;
  background-color: transparent;
}
.footer-widget .form-group .btn{
  border-radius: inherit;
  border:1px solid #636b6f;
  background-color: transparent;
  height: 40px;
}
.footer-widget .form-group .btn:hover{
  background-color: #00A0DE; 
  border:1px solid transparent;
  transition: all .3s;
  color: #fff;
}

/*====end-footer-area====*/

/*====main-button-form=======*/

/*
.form-control{
  border-radius: inherit;
  background-color: transparent;
}
.form-control:focus{
 box-shadow: none;
}
.btn{
  border-radius: inherit;
  border:1px solid #ccc;
  background-color: transparent;
}
.btn:hover{
  background-color: #00A0DE; 
  border:1px solid transparent;
  transition: all .3s;
  color: #fff;
}
*/

/*=======main-button-form=======*/



/*=====main-form=====*/
.dash-area{
/*    background: red;*/
/*    padding: 20px 0;*/
}

.main-form{
    background: #000;
    border-radius: 30px;
   opacity: 10;
    margin: 20px 0;
}
.header-modal .modal-header {
    padding: 15px;
    border-bottom: none;
}
.header-modal .modal-header .close {
    position: absolute;
    top: 78px;
    z-index: 9999999;
    right: 35px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1px 4px;
}
.header-modal .modal-content {
    position: relative;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.form-body {
    padding: 30px 30px 80px 30px;
}
.custom-log{
    color: #fff;
    height: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    font-size: 30px;
    background: #9B969C;
    opacity: .8;
    line-height: 80px;
}

.main-form .form-control{
  border-radius: inherit;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.main-form .form-control::-webkit-input-placeholder, .main-form .form-control::-moz-placeholder, .main-form .form-control::-moz-placeholder, .main-form .form-control:-ms-input-placeholder{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.check-area{
    position: relative;
    padding: 20px 0;
}
.check-box input{
    display: inline-block;
}
.check-box p{
    color: #fff;
    display: inline-block;
}
.check-box span{
    color: #fff;
    float: right;
}
.main-form .my-button{
    text-align: center;
}
.main-form .my-button button{
    width: 120px;
    height: 40px;
    background: #9B969C;
    border: 1px solid #9B969C;
    color: #fff;
    transition: all .3s;
    text-transform: uppercase;
}
.main-form .my-button button:hover{
    background: #29ABE2;
    color: #fff;
    border: 1px solid #29ABE2;
}


/*=====end-main-form=====*/



/*=====main-table=====*/
.main-table-area{
    margin-top: 10px;
}
.main-table-area table{
    width: 100%;
}
.main-table-area table th {
  background: #00a0de none repeat scroll 0 0;
  border-color: #ececec;
  color: #fff;
  font-size: 15px;
  height: 60px;
  text-align: center;
  text-transform: capitalize;
 border: 1px solid #DFECFA;
}

.main-table-area table td {
  font-size: 14px;
  height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #333;
  border: 1px solid #DFECFA;
}
.main-table-area table td a:hover{
    color:#00A0DE;
}

.table-pagination .pagination>li>a{
    border: 1px solid #DFECFA;
}
.table-pagination .pagination>li>a:hover{
    background: #00A0DE;
    color: #fff;
}


/*=====end-main-table=====*/


/*=====our-form=====*/

.our-form{
    border: 1px solid #32C5D2;
    overflow: hidden;
    padding-bottom: 30px;  
    margin-top: 10px;
    
}

.our-form .our-form-title{
    background: #32C5D2;
    padding: 10px 0;
    margin-bottom: 20px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}

.our-form-body{
    padding: 0 20px;    
}
.our-form .form-group label{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}
.our-form-body .form-group input{
    height: 40px;
    margin: 10px 0;
    box-shadow: none;
}
.our-form-body .form-group .form-control{
    border-radius: 0px;
}
.our-form .our-form-body .my-button{
    padding: 30px 0px;
}
.our-form .our-form-body .my-button button{
    width: 100px;
    height: 40px;
    margin: 0 10px;
    border-radius: 0px;
    transition: all .3s;
}
.our-form .our-form-body .my-button button:hover{
    border: 1px solid #32C5D2;
    background: #32C5D2;
    color: #fff;
}


/*=====end-our-form=====*/


/*=====>report-to-admin-page<=====*/

#report-search{
   margin: 30px 0;
}
.report-search-area .form-group{
    background: #ddd;
    overflow: hidden;
    padding: 20px 30px;
}
.report-search-area .form-group input{
    width: 70%;
    float: left;
    height: 60px;
    box-shadow: none;
}
.report-search-area .form-group button{
    width: 20%;
    float: left;
    height: 60px;
    margin-left: 5px;
    border: 1px solid #99A5C2;
}
.report-search-area .form-group button:hover{
    background: #00A0DE;
    color: #fff;
    border: 1px solid #00A0DE;
}
.report-login{
    background: #ddd;
    padding: 0 10px 20px 0;
    overflow: hidden;
}
.report-login ul{
    margin-top: 10px;
}
.report-login ul li{
    padding: 10px 30px;
}
.report-login .form-group label{float: right; margin-top: 15px;}
.report-table-area{
    background: #ddd;
    padding: 20px 30px;
    margin: 20px 0;
}
/*=====>end-report-to-admin-page<=====*/

/*=====>user-profile-page<=====*/
.overview-header{background: #ddd; height: 50px; width: 100%; line-height: 50px; font-size: 20px; font-weight: 500;}
.overview-header span{
    border: 1px solid #99A5C2;
    padding: 13px;
    background: #fff;
    border-bottom-style: none;
}
.main-overview{
}
.overview-img{
    border: 1px solid #E8E9EA;
    padding: 10px 15px;
    margin-top: 5px;
}
.overview-img img{
    width: 100%;
    height: 200px;
}
.overview-img-details ul li{
    padding: 12px 0;
}
.overview-img-details ul li i{
    font-size: 20px;
    margin-right: 10px;
}
.overview-img-details ul li span{
    float: right;
    font-size: 15px;
    background: #00A0DE;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
}
.overview-title{
    margin-top: 20px;
}
.overview-title span{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    display: block;    
}
.overview-summery{
    background: #DDDDDD;
    padding: 10px;
    margin-top: 20px;
}
.overview-summery span{
    text-align: center;
    display: block;
    font-weight: 500;
}
.overview-summery ul li{
    font-size: 14px;
    padding: 15px 0;
}
.overview-summery ul li span{
    float: right;
    background: #00A0DE;
    padding: 5px 8px;
    border-radius: 20px;
    color: #fff;
}
.over-icon-area{
    margin-top: 50px;
}
.over-icon-area ul li{
    display: inline-block;
    padding: 0 25px 0 0; 
}
.over-icon-area ul li a{
    display: block;
}
.over-icon-area ul li a i{
    font-size: 16px;
    padding: 10px 5px;
}
/*=====>end-user-profile-page<=====*/


/*=====>order-page-css<=====*/
.order-lists{
    position: relative;
}
.order-lists h3{
    background: #00A0DE;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 30px;
}
.order-destination .form-group label{
    margin: 0 0px 0 15px;
}
.order-destination button{
    margin-left: 10px;
}
.order-lists .border{
    margin: 33px 0px 10px 0px;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 20px 5px;

}
.order-details span{
    font-weight: 600;
}
.order-details p{
    margin-bottom: 10px;
}
.order-details li{
    display: inline-block;
    padding: 0 15px 0 0;
}
.order-button a{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    transition: all .3s;
}
.order-button a:hover{
    border: 1px solid #00A0DE;
    background: #00A0DE;
    color: #fff;
    border-radius: 5px;
}
/*=====>end-order-page-css<=====*/

/*=====>signle-order-page-css<=====*/
/* single order css */
.main-single-order span{
    font-size: 25px;
    font-weight: 500;
}
.order-payment-area li{
    display: inline-block;
    padding: 0 10px 0 0px;
}
.print{
    padding-bottom: 30px;
    padding-top: 10px;
}
.print a{
    font-size: 14px;
}
.print .large-btn{
    margin: 8px 0px;
    padding: 6px 56px;
}
.order-message{
    border:1px solid #ddd;
    padding: 25px;
}
.order-client-details li{
    padding:0 0 15px 0;
}
.order-client-details li:last-child{
    margin-top: 20px;
}
/*=====>end-signle-order-page-css<=====*/

.modal-sm {
    width: 47%;
}